# ============================================================
# DOCKER — Variables d'environnement
# Copier ce fichier en .env et adapter les valeurs
# ============================================================

# Base de données
POSTGRES_PASSWORD=MonMotDePasseSecurise123!

# JWT — OBLIGATOIREMENT changer en production !
JWT_ACCESS_SECRET=votre-cle-access-super-secrete-256bits
JWT_REFRESH_SECRET=votre-cle-refresh-super-secrete-256bits
